<h2 class="page__title">
  O GOSPODARSTWIE<svg width="500" height="19" class="page__title--icon">
    <use href="../images/icons.svg#icon-line"></use>
  </svg>
</h2>
<p class="page__text">
  Działalność rolniczna w naszej rodzinie jest prowadzona od pokoleń i
  niesamowicie satysfakcjonujący jest jej ciągły rozwój. Gdy kilkadziesiąt lat
  temu dziadek uprawiał swoje pola - posiadał zaledwie kilka hektarów, a obecnie
  nasze uprawy rosną na niemalże 100 ha. Główne rośliny uprawne na naszych
  ziemiach to: rzepak, pszenica, kukurydza i buraki cukrowe. Dysponujemy także
  nowoczesnym sprzętem i zapleczem, które ułatwiają naszą pracę.
</p>
