<h2 class="page__title--contact">SKONTAKTUJ SIĘ Z NAMI!</h2>
<p class="page__text">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui praesentium ab a
  quia fuga in commodi consequatur, quam sapiente laudantium laborum vitae eum
  neque est perferendis unde! Dolorem aliquam autem nam in, fugiat assumenda
  error optio molestias illum. Qui inventore molestias, dolorum reiciendis quasi
  minus! Earum ex vel, dolorum soluta obcaecati velit eaque repudiandae laborum
  voluptatem repellat odit quisquam accusamus quia quibusdam incidunt quod
  molestiae ab? Tempora natus quia, iure accusantium saepe nisi repudiandae
  tenetur, distinctio alias placeat adipisci voluptate vero unde deserunt
  perspiciatis minus itaque facere libero eum ipsam asperiores. Illum animi
  doloribus rem debitis architecto quas, quos, eveniet facere, autem nemo eum
  voluptatibus culpa sed. Magni, hic esse. Deleniti omnis quis expedita eaque
  iste inventore velit repudiandae, eius odio maiores fugiat ut libero repellat
  et, assumenda nam dolore consectetur temporibus animi possimus aliquam
  quibusdam! Totam atque quis quae consequuntur fugiat, doloremque reprehenderit
  ut officia, provident unde explicabo architecto. Id officiis vero dolore
  ipsum, corrupti rerum exercitationem quidem veritatis ipsam, excepturi
  eveniet, corporis aperiam et! Alias provident est nostrum, mollitia amet
  neque, similique laboriosam accusamus exercitationem ullam tenetur ad ea minus
  omnis eos at enim cum natus voluptate! Vero molestias aliquid provident eius
  quis rerum corrupti officia veritatis quos!
</p>
