<h2 class="page__title">
  OFERTA<svg width="500" height="19" class="page__title--icon">
    <use href="../images/icons.svg#icon-line"></use>
  </svg>
</h2>
<p class="page__text">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
  perspiciatis consectetur, veritatis tempore porro molestias harum quae
  doloremque corporis quisquam eligendi quaerat vel voluptate, quos impedit nemo
  reprehenderit atque praesentium unde! Magnam odio obcaecati aut doloremque
  laudantium voluptates, vero commodi atque reprehenderit placeat, temporibus,
  quidem iste asperiores earum eveniet? Quod tenetur, tempora consequatur soluta
  illo quae nobis eveniet porro, dicta eaque aut animi id, ea earum laboriosam
  deleniti nostrum. Cumque ad ratione, architecto asperiores sapiente voluptas
  recusandae illo temporibus natus debitis voluptatibus quibusdam molestiae qui
  nisi minus, repellat beatae et suscipit eius. Totam repellat magnam aliquam,
  dicta iure sed. Ad molestias magni, nam fugit, praesentium ipsam fuga sit,
  exercitationem iusto dolores recusandae cupiditate culpa rem adipisci? Odio
  sint, officia rerum qui minus voluptatibus obcaecati numquam ab quis harum,
  quibusdam delectus magni incidunt quia tenetur hic, iure ducimus non corporis.
  Officia molestiae assumenda, quas excepturi est dolorem? Ut voluptate, magnam
  ducimus quas quam in odit nobis, voluptatum doloremque aut suscipit! Inventore
  animi beatae accusantium numquam vero itaque ipsum non quo aspernatur possimus
  debitis perferendis quia iusto dignissimos nulla, et hic aut explicabo modi!
  Eveniet officiis nulla sunt ullam minus nobis beatae soluta dolor? Assumenda
  blanditiis ipsam ipsum repellat, rem odit laborum!
</p>
